body {
  background-color: black;
}

#container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

canvas {
  display: block;
}

button {
  position: absolute;
  left: 82%;
  top: 3.5%;
  transform: translate(-50%, -50%);  
  font-size: 20;
  font-weight: bold;
  color: white;
  background-color: blue;
  border-color: blue;
}

